[Unit]
Description=ChaCha DEV NAS Incremental Image Vault every 30 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
AccuracySec=2min
Persistent=true
Unit=chacha-dev-nas-incremental-image-vault.service

[Install]
WantedBy=timers.target
